@import '../../index.scss';
.Trainings{
    .ContainerTrainings{
        @include flex(null, center, center);
        margin-top: 80px;
        margin-bottom: 80px;
        .Container{
            .Graduates {
                &.Card {
                    > div{
                        &.ContainerGrid{
                            width: 80%;
                            margin: 0 auto;
                            > div{
                                width: 250px;
                            }
                        }
                    }
                    .BulletImg{
                        top: 265px;
                        background-color: $green;
                    }
                }
            }
        }
    }
}