@import '../../index.scss';
.Trainings{
    .ContainerTrainings{
        @include flex(null, center, center);
        margin-top: 40px;
        margin-bottom: 80px;
        @media screen and (min-width: 780px) {
            margin-top: 80px;
        }
        .Container{
            .Graduates {
                &.Card {
                    > div{
                        &.ContainerGrid{
                            width: 80%;
                            margin: 0 auto;
                            @media screen and (min-width: 768px) {
                                grid-template-columns: repeat(2, 1fr);
                            }
                            @media screen and (min-width: 1024px) {
                                grid-template-columns: repeat(3, 1fr);
                            }
                            > div{
                                width: 250px;
                            }
                        }
                    }
                    .BulletImg{
                        top: 125px;
                        background-color: $green;
                    }
                }
            }
        }
    }
}