@import '../../index.scss';
.Experiences{
    .ContainerExperiences{
        @include flex(null, center, center);
        margin-top: 80px;
        margin-bottom: 80px;
        .Container{
            .Dev,
            .Communication{
                h2{
                    color: $deep_purple;
                }
            }
            .Dev{
                .BulletImg{
                    top: 125px;
                    background-color: $deep_purple;
                }

                .Integration,
                .Dydu,
                .Particeep{
                    @include flex(null, null, null);
                    flex-wrap: wrap;
                    img{
                        padding-right: 8px;
                        width: auto;
                        height: 155px;
                    }
                }

                .ContainerDevReact{
                    margin-bottom: 50px;
                    .Dydu{
                        margin-bottom: 30px;
                    }
                }
            }
            .Communication{
                position: relative;

                img{
                    width: 40px;
                    &:not(:last-of-type){
                        margin-right: 10px;
                    }
                }

                h2{
                    color: $orange;
                }

                .BulletImg{
                    background-color: $orange;
                }

                .Creations{
                    @include flex(null, null, space-between);
                    img{
                        width: auto;
                        height: 200px;
                    }
                }
            }
        }
    }
}