@import '../../index.scss';
.Experiences{
    .ContainerExperiences{
        @include flex(null, center, center);
        margin-top: 40px;
        margin-bottom: 80px;
        @media screen and (min-width: 780px) {
            margin-top: 80px;
        }
        .Container{
            .Dev,
            .Communication{
                h2{
                    color: $deep_purple;
                }
            }
            .Dev{
                .BulletImg{
                    top: 125px;
                    background-color: $deep_purple;
                }

                .ContainerDevReact{
                    h3{
                        margin-bottom: 15px;
                    }
                    h4{
                        text-transform: uppercase;
                        opacity: .5;
                        font-weight: 700;
                    }
                    p{
                        margin-bottom: 5px;
                        &.Worktime{
                            font-size: 13px;
                        }
                    }
                    > div{
                        margin-bottom: 50px;
                    }
                    .Particeep{
                        margin-bottom: 40px;
                    }
                    .Dydu{
                        margin-bottom: 30px;
                    }
                }

                .Integration,
                .Dydu,
                .Particeep{
                    @include flex(null, null, center);
                    flex-wrap: wrap;
                    @media screen and (min-width: 780px) {
                        @include flex(null, null, flex-start);
                    }
                    img{
                        width: auto;
                        height: 130px;
                        margin-right: 8px;
                        padding: 1px;
                        border: 1px solid $light-grey;
                        @include radius(3px);
                        @media screen and (min-width: 780px) {
                            height: 155px;
                        }
                    }
                }
            }
            .Communication{
                position: relative;

                img{
                    width: 40px;
                    &:not(:last-of-type){
                        margin-right: 10px;
                    }
                }

                h2{
                    color: $orange;
                }

                .BulletImg{
                    background-color: $orange;
                }

                .Creations{
                    @include flex(null, null, center);
                    flex-wrap: wrap;
                    @media screen and (min-width: 780px) {
                        @include flex(null, null, space-between);
                    }
                    img{
                        width: auto;
                        height: 200px;
                        margin-right: 10px;
                        @media screen and (min-width: 780px) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}