@import '../../index.scss';
.Skills{
    .ContainerSkills{
        @include flex(null, center, center);
        margin-top: 80px;
        margin-bottom: 80px;
        .Container{
            @include flex(column, null, center);
            h1{
                text-align: center;
            }
            > div{
                &:not(:last-of-type){
                    margin-bottom: 30px;
                }
            }
            .Dev{
                margin-top: 70px;
                &.Card{
                    width: 100%;
                    img{
                        width: 50px;
                    }
                    > div{
                        &:not(.BulletImg){
                            @include flex(null, null, space-between);
                            flex-wrap: wrap;
                            width: 80%;
                            margin: 0 auto;
                            > div{
                                @include flex(column, null, flex-start);
                                width: 190px;
                                margin-top: 30px;
                            }
                        }
                    }
                    .SGBD{
                        @include flex(null, center, null);
                        img{
                            &:nth-child(1){
                                width: 40px;
                            }
                            &:nth-child(2){
                                width: 60px;
                            }
                        }
                    }
                    .Lang{
                        height: 50px;
                    }
                    .LangPlus{
                        img{
                            width: 30px;
                        }
                    }
                    .Back{
                        height: 50px;
                        img{
                            &:nth-child(1){
                                width: 65px;
                            }
                        }
                    }
                    .Front{
                        @include flex(null, center, null);
                        height: 50px;
                        img{
                            &:nth-child(1){
                                width: 40px;
                            }
                            &:nth-child(2){
                                width: 75px;
                            }
                        }
                    }
                    .FrontPlus{
                        img{
                            width: 25px;
                        }
                    }
                    h2{
                        color: $yellow;
                    }
                    h3{
                        &:not(:first-of-type){
                            padding-top: 30px;
                        }
                    }
                    p{
                        font-size: 13px;
                    }
                    .BulletImg{
                        top: 35%;
                        background-color: $yellow;
                    }
                }
            }
            .BulletImg{
                position: absolute;
                top: 0%;
                left: 50%;
                @include flex(null, center, center);
                width: 85px;
                height: 85px;
                transform: translate(-50%, -50%);
                background-color: white;
                box-shadow: 6px 3px 19px 0 rgba(56, 64, 86, 0.2);
                @include radius(50%);
                img{
                    width: 45px;
                }
            }
            .ContainerCards{
                @include flex(null, null, space-between);
                margin-top: 50px;
                .Card{
                    position: relative;
                    &.Language{
                        height: 250px;
                        h2{
                            color: $orange;
                        }
                        .BulletImg{
                            background-color: $orange;
                        }
                        img{
                            width: 50px;
                        }
                    }
                    &.Design{
                        height: 250px;
                        img{
                            width: 40px;
                            &:not(:last-of-type){
                                margin-right: 10px;
                            }
                        }
                        h2{
                            color: $blue;
                        }
                        .BulletImg{
                            background-color: $blue;
                        }
                    }
                }
                h2{
                    &::after{
                        width: 36%;
                    }
                }
            }
        }
    }
}