@import '../../index.scss';
.Skills{
    .ContainerSkills{
        @include flex(null, center, center);
        margin-top: 80px;
        margin-bottom: 80px;
        .Container{
            > div{
                &:not(:last-of-type){
                    @media screen and (min-width: 400px) {
                        margin-bottom: 30px;
                    }
                }
            }
            .Dev{
                &.Card{
                    > div{
                        &.ContainerGrid{
                            > div{
                                width: 225px;
                            }
                        }
                    }
                    .SGBD{
                        @include flex(null, center, null);
                    }
                    .Lang, .Back, .Front{
                        height: 50px;
                    }
                    .Front{
                        @include flex(null, center, null);
                    }
                    h2{
                        color: $yellow;
                    }
                    h3{
                        &:not(:first-of-type){
                            padding-top: 30px;
                        }
                    }
                    p{
                        font-size: 13px;
                        margin: 5px 0;
                    }
                    .BulletImg{
                        top: 125px;
                        background-color: $yellow;
                    }
                }
            }
            .ContainerCards{
                @include flex(column, null, space-between);
                @media screen and (min-width: 400px) {
                    margin-top: 50px;
                }
                @media screen and (min-width: 768px) {
                    @include flex(row, null, space-between);
                }
                .Card{
                    position: relative;
                    &.Language{
                        height: 250px;
                        h2{
                            color: $light-blue;
                        }
                        .BulletImg{
                            background-color: $light-blue;
                        }
                        .LanguageItem {
                            @include flex(null, center, null);
                        }
                    }
                    &.Design{
                        height: 250px;
                        img{
                            &:not(:last-of-type){
                                margin-right: 10px;
                            }
                        }
                        h2{
                            color: $blue;
                        }
                        .BulletImg{
                            background-color: $blue;
                        }
                    }
                }
            }
        }
    }
}